* {
margin: 0px;
font-family: Arial;
border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;/*flex item horizontally center */
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo-removebg-preview.png");
    background-size: cover;
    height: 50px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white
}
.add-first{
    font-size: 12px;
    color: #cccccc;
    margin-left: 15px;
}
.add-second{
    font-size: 14px;
    color: #ffffff;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 50px;
    border-radius: 4px;
   
}
.search-select{
    background-color:#f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px; 
    border-bottom-left-radius:4px ;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px; 
    border-bottom-right-radius:4px ;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box 4 */
span{
    font-size: 0.7rem;
}
.signin-second{
    font-size: 0.85rem;
    font-weight:700 ;
}
/* box 5 */
.nav-cart i {
    font-size:30px ;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight:700 ;/*making font bold*/
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p {
    display: inline;
    margin: 15px;
}
.panel-option {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deal{
    font-size: 0.9rem;
    font-weight: 700;
}
/*hero section*/
.hero-section{
    background-image: url(courousal1.jpg);
    background-size: cover;
    height: 350px;
}
/* Shop section */
.shop-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color:#d4cece ;

}
.box{
    /* border: 2px solid black; */
    height: 310px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 15px;
}
.box-img{
    height:200px ;
    background-size: cover; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left:10px ;
    margin:10px; ;
}
/* footer */
footer{
    margin-top: 15px;
}
.footer-panel1{
    background-color:#37475a; 
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content:space-evenly;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}